.navbar {
  padding: 0;
  background-color: bisque !important;
}

.card-img,
.card-img-top {
  object-fit: cover;
}

#favorite-albums .card img {
  height: 180px;
  /* object-fit: contain; */
}

#worst-album .card img {
  height: 180px;
  object-fit: cover;
}

.card-body h5 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.jumbotron {
  background-image: url("./assets/jumbo.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  animation: fadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.card {
  position: relative;
}

#favorite-albums div.card div.label {
  background-color: #415f41;
  height: 20px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  font-size: 15px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  font-size: 15px;
  margin-bottom: 0;
}

#add-track {
  width: 100px !important;
  margin-inline: auto !important;
}

#add-track:hover {
  box-shadow: 0px 5px 8px rgb(167, 166, 166);
}

#add-track-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.alert {
  position: absolute;
  bottom: 22px;
}

tr button {
  visibility: hidden;
}
tr:hover button {
  visibility: visible;
}

#worst-album .card-body ul > li {
  /* background-color: red; */
  text-overflow: ellipsis;
  white-space: nowrap;
  /* display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; */
  overflow: hidden;
}

#tapestry img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

div.alert {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  height: 100px;
  padding-block: auto;
  width: 400px;
  text-align: center;
}

#album-review {
  position: relative;
}
